TF_LOG
TF_VAR_aws_role
TF_VAR_dnx_local_run
WORKSPACE
AWS_ROLE
AWS_ACCOUNT_ID
AWS_DEFAULT_REGION
AWS_PROFILE
AWS_DEFAULT_PROFILE
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SECURITY_TOKEN
AWS_SESSION_EXPIRATION
AWS_SESSION_TOKEN
AWS_WEB_IDENTITY_TOKEN_FILE
AWS_ROLE_ARN
OIDC_TOKEN
OIDC_AWS_ROLE
OIDC_AWS_ACCOUNT_ID
